@import "bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root{
    --col0:rgb(20, 33, 65);
    --col1:#ffffff;
    --col2:#233968;
    --col3:#F7B130;
}
*{
    outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

tr:first-child th:first-child { border-top-left-radius: 12px;}
tr:first-child th:last-child { border-top-right-radius: 12px; }
tr:last-child td:first-child { border-bottom-left-radius: 12px;}
tr:last-child td:last-child { border-bottom-right-radius: 12px; }

::placeholder {
    color: var(--col1);
    letter-spacing: 0.08em;
}

input{
    border: none;
}

body{
    background: url("../img/bg.jpg");
    background-size: cover;   
}

.error {
    color: rgba(255, 255, 255, 1);
    font-family: 'Montserrat';
    letter-spacing: 0.08em;
    font-weight: 300;
    border-radius: 12px;
    font-size: .75rem;
    background-color: rgba(255, 91, 91, .8);
    padding: .75rem;
    width: 100%;
    margin-bottom: .5rem;
}

.cl0{
    color: var(--col0);
}
.cl1{
    color: var(--col1);
}
.cl17 {
    color: rgba(255, 255, 255, .7);
}
.cl18 {
    color: rgba(255, 255, 255, .8);
}
.cl2{
    color: var(--col2);
}
.cl3{
    color: var(--col3);
}

.bg0{
    background: var(--col0);
}
.bg1{
    background: var(--col1);
}
.bg12{
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
}
.bg13{
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(30px);
}
.bg2{
    background: var(--col2);
}

.f500,.f300{
    font-family: 'Montserrat';
    letter-spacing: 0.08em;
}

.f300{
    font-weight: 300;
}

.f500{
    font-weight: 500;
}

.r12, .r40{
    box-shadow: 20px 20px 25px 10px rgba(0, 0, 0, 0.25);
}

.r12{
    border-radius: 12px;
}

.r40{
    border-radius: 40px;
}